body {
	text-align: center;
	color: black;
	font-family: 'Cormorant Unicase';
	font-size: 20px;
	background-color: white;
	background-image: url("../images/background.jpg");
	background-repeat: repeat;

}

#heading {
	color: pink;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
}


#background {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: pink;
    align-content: center;
    align-items: center;
}